////////////////////////////////////////////////////////////////////////////////////////////////////

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }


    tab {
        pane stacked=true split_direction="horizontal" {
            pane name="editor" command="hx" focus=true
            pane name="canvas"
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
