////////////////////////////////////////////////////////////////////////////////////////////////////

theme "kanagawa"

////////////////////////////////////////////////////////////////////////////////////////////////////

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="Update" split_direction="vertical" {
        pane command="bash" {
            args "/Users/drivas/.lou/sh/update_brew.sh"
        }
        pane command="bash" {
            args "/Users/drivas/.lou/sh/update_rust.sh"
        }
        pane command="bash" {
            args "/Users/drivas/.lou/sh/update_go.sh"
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
